*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/olupic1.jpg);
    background-image: linear-gradient(rgb(4, 9, 30));
    background-size:cover;
    position:center;
    background-position: center;
  
}

nav{
    display: flex;
    padding: 3% 7%;
    justify-content: space-between;
}
.welcome{
    font-size: 30px;
    font-weight: 700;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
    padding-top: 50px;
}
.nav-links ul li a{
    text-decoration: none;
    color: rgb(26, 21, 21);
    font-size: 16px;
    font-weight: 600;
}
.nav-links ul li::after{
    content: '';
    display:block;
    width: 0px;
    height: 3px;
    transition: 0.5s;
    margin: auto;
    background: peachpuff;
}
.nav-links ul li:hover::after{
    width: 30px;
}
.search{
    margin-top: 20px;
    box-sizing: border-box;
    padding: 3% 1%;
    border-radius: 30px;
}
.search input{
    width: 100px;
    height: 30px;
    border-radius: 40px;
    outline: none;
    border: none;
    padding: 10px;
}
section{
    box-sizing: border-box;
    width: 70%;
    background-color: #fff;
    align-items: center;
    margin: auto;
    padding: 50px;
    border-radius: 40px;
}
.blog{
    color: rgb(62, 61, 61);
}
.blog h2{
    font-weight: 900;
    font-size: 36px;
    width: 0;
    margin-left: 30px;
    display: inline;
}
.blog h3{
    font-weight: 500;
    font-size: 30px;
    width: 0;
    display: inline;
}
.blog p{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 40px;
}
.date{
    margin-left: 600px;
    text-align: right;
}
footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(8, 94, 94);
    padding: 70px 0;
    color: #ffffff;
    
}
.footer-col h1{
    text-align: center;
    margin: auto;
}
hr{
  margin-top: 12px;
}
.social-links{
    margin-top: 50px;
}
.social-links a ion-icon{
    margin:0 10px 10px 0;
    display: inline-block;
    margin-left: 280px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    border: 1px #fff solid;
    padding: 12px;
}
.search-icon{
    color: #fff;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}
.search-icon:hover{
    color: peachpuff;
}
.btn {
        margin: auto;
        width: 20%;
        align-items: center;
        cursor: pointer;
        
      }
.btn button {
  width: 60%;
  margin: 10px auto 0;
  padding: 10px;
  margin-left: 35px;
  border-radius: 20px;
  border: none;
  background-color: peachpuff;
  transition: all 0.5s ease;
  
}
.btn button a {
  text-decoration: none;
  color: grey;
}
.btn button:hover {
  background-color: rgb(199, 142, 92);
}
.forgot {
        margin-top: 20px;
        display: grid;
        text-align: center;
      }
.forgot a {
  text-decoration: none;
  color: grey;
}
 /* Responsiveness */

 @media(max-width:700px){
    .welcome{
        font-size: 40px;
        font-weight: 500;
    }
    .search{
        margin-top: 20px;
        box-sizing: border-box;
        border-radius: 30px;
    }
    .search input{
        width: 100px;
        height: 15px;
        border-radius: 20px;
        outline: none;
        border: none; 
    }
    .header{
        background-color: #000;
    }
 }