{% extends 'index.html' %}

{% block content %}

<ul>
            

<section>
    <p><a href="/" class="hover:text-blue-500">Go back</a></p>
    <h2 class="text-3xl" style="text-transform: capitalize;">User: {{user.username}}</h2>
    <hr>
    {% for blog in view %}
        <a style="text-decoration:none; color: black; " href="/user_posts/{{blog.id}}">
            <h2 class="text-2xl">{{blog.heading}}</h2>
            </a>
        <h4>{{blog.time_created}}</h4>
        <h4>{{blog.body|truncatewords:10}}</h4>
        <hr>
        {% empty %}
        <h3>
            .....mmmmm Nothing to see here 
        </h3>

        {% endfor %}
        
</ul>

</section>


{% endblock %}