<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}">
  </head>
  <body>
    <div class="header">
      <nav>
        {% if user.is_authenticated %}
        <h4 class="welcome">
          Welcome {{user.username}} to Timmi's<br />
          Blog-App
        </h4>
        {% else %}
        <h3 class="welcome">
            Welcome guest to Timmi's<br />
            Blog-App
          </h3>
        {% endif %}

        <div class="nav-links">
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">PortFolio</a></li>
            {% if user.is_authenticated %}
            <li><a href="logout">Logout</a></li>
            {% else %}
            <li><a href="login">login</a></li>
            {% endif %}
          </ul>
        </div>
        <form method="post" action="{% url 'search' %}">
            {% csrf_token %}
        <div class="search">
          <input type="text"  placeholder="Search" name="search"/>
          <ion-icon class="search-icon" ></ion-icon>
        </div>
    </form>
        </nav>
        {% block content %}
      <section>
        {% for blog in blog reversed %}
        <div class="blog">
          <a style="text-decoration: none ; color: black;" href="/posts/{{blog.id}}"><h2>{{blog.user.username}}</h2></a><br>
          <h3>{{blog.heading}}</h3>
          <p>
            {{blog.body|truncatewords:30}}
          </p>
          <p class="date">{{blog.time_created}}</p>
          {% empty %}
          <h3>MMMMMMMMM No current blogs at this time please come back later :)</h3>
          {% endfor %}
      </section>
      
      {% if user.is_authenticated %}
      <div class="flex">
      <div class="btn">
        <a href="user_blog"><button class="mt-2 w-full">
          <h3>Create Blog?</h3>
        </button></a>
          <a href="changes"><button class="mt-2 w-full">
            <h3>Edit Blogs?</h3>
          </button></a>
    </div>
  </div>
    {% else %}
    <div class="forgot">
      <a href="signup">sign up now to add ure first blog :)</a>
    </div>
    {% endif %}
    {% endblock %}
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
