<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css'%}">
    <title>Login</title>
    <style>
      h5{
          color: red
      }
  </style>
  </head>
  <body>
    <div class="all">
      <main class="container">
        <div class="olu">
          <h1>LOGIN</h1>
        </div>
        <form method="POST" action="login">
          {% csrf_token %}
          <hr>
        {% for message in messages%}
        <h5>{{message}}</h5>
        {% endfor %}
          <div class="user-details">
            <div class="user-input">
              <input type="email" id="email" name="email" placeholder="Email" required />
            </div>
            <div class="user-input">
              <input
                name="username"
                type="text"
                id="username"
                placeholder="Username"
                required
              />
            </div>
            <div class="user-input">
              <input
                name="password"
                type="password"
                id="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="forgot">
              <a href="signup">Don't have an account??</a>
            </div>
            <div class="btn">
              <button type="submit">
                <h3>Sign in</h3>
              </button>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
