{% extends 'index.html' %}

{% block content %}
<p><a href="/">Go back</a></p>
    {% if search %}
        <section>
            {% for blog in blog %}
            <div class="blog">
              <a style="text-decoration: none ; color: black;" href="/posts/{{blog.id}}"><h2>{{blog.user.username}}</h2></a>
              <h3>{{blog.heading}}</h3>
              <p>
                {{blog.body|truncatewords:30}}
              </p>
              <p class="date">{{blog.time_created}}</p>
              {% empty %}
              <h3>........MMMMMMMMMMM Search not found :(</h3>
              {% endfor %}
            </section>  
    {% else %}
       <h2>You forgot to search :(</h2>
    {% endif %}       
{% endblock %}
