<!DOCTYPE html>
<html>
    <head>
      <title>My blog</title>
    </head>
    <body>
        <p><a href="/">Go Home</a></p>
        <style>
            h2{
                color: red;
            }
            h3{
                color: aqua;
            }
        </style>

        <h1>My blog</h1>
        <hr>
        
        <ul>
    
            <li>
                <h3>{{blog.User.username}}</h3><h5>{{blog.time_created}}</h5>
                    <h2>{{blog.heading}}</h2>
                </a>
                <h4>{{blog.body}}</h4>
            </li>

        <a href="/edit_blog/{{blog.id}}"><button type="submit">edit blog</button></a>     <a href="/delete_blog/{{blog.id}}"><button type="submit">delete blog</button></a>
        
             
        </ul>
            {% if empty %}
            <h3>
                .....mmmmm Nothing to see here 
            </h3>
            {% endif %}
        <hr>
        

    </body>
</html>